<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="~{layout/layout :: head}"></head>
    <link rel="stylesheet" th:href="@{/css/style.css}"> </head>
</head>

<body>
<header th:replace="~{layout/layout :: navbar}"></header>
<h1 class="page-content" th:text="${titulo}"></h1>
<div class ="container" style="margin-top: 10px; padding: 5px; with: 80%">

    <form th:objet="${objContacto}" th:action="@{/crearcontacto}" method="post">

        <legend>FORMULARIO</legend>
        <div class="mb-3">
            <label  class="form-label">Numero</label>
            <input type="text" class="form-control" id="numeroform" aria-describedby="numeroHelp" field="numero" name="numero">
            <div id="numeroHelp" class="form-text">Ej: 32045454**</div>
        </div>

        <div class="mb-3">
            <label  class="form-label">Tipo de contacto</label>
            <input type="text" class="form-control" id="tipocontactoform" aria-describedby="tipocontactoHelp" field="tipocontacto" name="tipocontacto">
            <div id="tipocontactoHelp" class="form-text">Ej: 1,2,</div>
        </div>
        <div class="mb-3">
            <label for="colegio" class="control-label">Colegio</label>
            <select class="form-control" id="colegio" field="colegio" name="colegio">
                <option th:each="colegio: ${objListColegios}"
                        th:text="${colegio.nombre}" th:value="${colegio.idcolegio}">

                </option>
            </select>

        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                <label class="form-check-label" for="disabledFieldsetCheck">
                    Can’t check this
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>

    </form>
    <br/>
    <a th:href="@{/Listarcontactos}" class="vtb btn-danger">Cancelar</a>
</div>

<footer th:replace="~{layout/layout :: footer}"></footer>
<div th:replace="~{layout/layout ::scripts}"></div>
</body>
</html>