<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="~{layout/layout :: head}"></head>
    <link rel="stylesheet" th:href="@{/css/style.css}"> </head>
</head>

<body>
<header th:replace="~{layout/layout :: navbar}"></header>
<h1 class="page-content" th:text="${titulo}"></h1>
<div class ="container" style="margin-top: 10px; padding: 5px; with: 80%">

    <form th:objet="${rectoractualizar}" th:action="@{/editarRectorBy/{id}(id = ${rectoractualizar.idrector})}" method="post">

        <legend>FORMULARIO</legend>
        <div class="mb-3">
            <label  class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreform" aria-describedby="nombreHelp" field="nombre" name="nombre">
            <div id="nombreHelp" class="form-text">Ej: Ingrese su nombre</div>
        </div>
        <div class="mb-3">
            <label  class="form-label">Primer Apellido</label>
            <input type="text" class="form-control" id="primerapellidoform" aria-describedby="primerapellidoHelp" field="primerapellido" name="primerapellido">
            <div id="primerapellidohelp" class="form-text">Ej: Ingrese su primer apellido</div>
        </div>
        <div class="mb-3">
            <label  class="form-label">Segundo Apellido</label>
            <input type="text" class="form-control" id="segundoapellidoform" aria-describedby="Help" field="segundoapellido" name="segundoapellido">
            <div id="segundoapellidohelp" class="form-text">Ej: Ingrese su nombre</div>
        </div>

        <div class="mb-3">
            <label  class="form-label">Numero de Documento</label>
            <input type="text" class="form-control" id="numdocumentoform" aria-describedby="numdocumentoHelp" field="numdocumento" name="numdocumento">
            <div id="numdocumentoHelp" class="form-text">Ej: 1050******</div>
        </div>
        <div class="mb-3">
            <label  class="form-label">Fecha de nacimiento</label>
            <input type="text" class="form-control" id="fechanacimientoform" aria-describedby="fechanacimientoHelp" field="fechanacimiento" name="fechanacimiento">
            <div id="fechanacimientoHelp" class="form-text">Ej: 2004-04-12</div>
        </div>
        <div class="mb-3">
            <label  class="form-label">Tipo de Documento</label>
            <input type="text" class="form-control" id="tipodocumentoform" aria-describedby="tipodocumentoHelp" field="tipodocumento" name="tipodocumento">
            <div id="tipodocumentoHelp" class="form-text">Ej: Cedula, Tarjeta de identidad, Pasaporte</div>
        </div>
        <div class="mb-3">
            <label for="colegio" class="control-label">Colegio</label>
            <select class="form-control" id="colegio" field="colegio" name="colegio">
                <option th:each="colegio: ${objListColegios}"
                        th:text="${colegio.nombre}" th:value="${colegio.idcolegio}">

                </option>
            </select>

        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                <label class="form-check-label" for="disabledFieldsetCheck">
                    Can’t check this
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>

    </form>
    <br/>
    <a th:href="@{/Listarrectores}" class="vtb btn-danger">Cancelar</a>
</div>

<footer th:replace="~{layout/layout :: footer}"></footer>
<div th:replace="~{layout/layout ::scripts}"></div>
</body>
</html>